.popup__label {
  position: relative;
  margin: 0 0 30px;
  display: flex;
}

.popup__label:last-of-type {
  margin: 0 0 48px;
}

@media (max-width: 768px) {
  .popup__label:last-of-type {
    margin: 0 0 45px;
  }
}
