.profile {
  padding: 36px 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 768px) {
  .profile {
    padding: 38px 0 36px;
    gap: 33px;
  }
}

@media (max-width: 576px) {
  .profile {
    flex-direction: column;
  }
}
